<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead style="background-color: #0c0605; color: white">
    <td width="200px">Name</td>
    <td width="200px">Email</td>
    <td width="200px">Telephone</td>
    </thead>
    <tr th:each="data : ${dataList}">
        <td><a th:href="@{'data/' + ${data.id}}" th:text="${data.fullname}" ></a></td>
        <td th:text="${data.email}"></td>
        <td th:text="${data.tel_no}"></td>
    </tr>
</table>
</body>
</html>